article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article em,
article strong {
  margin: 20px 0;
}
article img {
  max-width: 100%;
  margin: 20px 0;
}
article iframe {
  margin: 10px -10px;
}
article blockquote {
  padding: 1.25rem;
  margin: 1.25rem -10px;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
  border-left-color: #f0ad4e;
  font-size: 1em;
}
article blockquote p:last-child {
  margin-bottom: 0;
}
figure.highlight {
  margin: 10px -10px;
  overflow-x: auto;
}
figure.highlight table {
  width: 100%;
  table-layout: fixed;
}
.highlight .gutter {
  display: none;
}
.hljs {
  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}
article {
  position: relative;
  margin: auto;
  padding: 50px 10px;
}
article .toc-article-container {
  position: absolute;
  top: 0;
  left: 100%;
}
article .article-ft {
  text-align: right;
}
article .article-ft .last-update {
  color: #c0c0c0;
  font-size: 0.8em;
}
article th {
  white-space: nowrap;
}
