figure.highlight {
  margin: 10px -10px;
  overflow-x: auto;
}
figure.highlight table {
  width: 100%;
}
.highlight .gutter {
  display: none;
}
.hljs {
  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}
